
  .container{
    margin-top: 30px;
    max-width: 700px;
  }

  h5{
    text-align: center;
    margin-top: 30px;
  }

  #vrstaObvestila{
    max-width: 200px;
  }

  textarea{
    height: 200px;
  }

  
  #btnObjavi{
    size: 2ex;
    color: whitesmoke;
    margin-top: 100;
    float: right;
  }
  
  .selected{
    background-color: whitesmoke;
  }
  
  .font{
    color: #333333;
    font-family: "Brush Script MT", "Bradley Hand", "Apple Chancery", serif;
  }