<app-upravnik-orodna-vrstica></app-upravnik-orodna-vrstica>
<br>

<h5 class="card-title font font-weight-bold display-3">Objava obvestila</h5>

<div class="container">
  <form >
    <select class="form-control" id="vrstaObvestila" name="vrstaObvestila" (change)="nastaviVrsto($event)">
      <option value="opozorilo" default>Opozorilo</option>
      <option value="novica">Novica</option>
    </select><br>
    <div class="alert alert-warning" role="alert" hidden>
      Prišlo je do napake!
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="napaka">
      {{napaka}}
    </div>

    <div class="form-group row-lg-5">
      <label class="fw-bold" for="NaslovInput"
        >Naslov:</label
      >
      <input
        type="text"
        class="form-control"
        id="naslovInput"
        name="naslov"
        [(ngModel)]="naslov"
      />
    </div>

    <div class="form-group row-lg-5">
      <label class="fw-bold" for="VsebinaInput"
        >Vsebina:</label
      >
      <textarea class="form-control" name="vsebina" [(ngModel)]="vsebina"></textarea><br>
    </div>



    <button
                id="btnObjavi"
                class="border mt-3 btn btn-secondary"
                type="submit"
                (click)="btnObjavi()"
              >
                OBJAVI
              </button>
  </form>

  <button type="button" class="btn btn-outline-secondary" (click)="btnNazaj()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 1 16 16">
      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
    </svg>
    NAZAJ
  </button>

</div>
